/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.mbdsc_story_list {
    padding-bottom: 3em;
    display: inline-block;
    width: 100%;

}

.mbdsc_story_list .mbdsc_story_review_count, .mbdsc_story_list .mbdsc_story_chapter_count, .mbdsc_story_list .mbdsc_story_complete {
  display: inline;
  font-size: smaller;
  color: gray;

}

.mbdsc_story_list .mbdsc_cover_image {
  float: left;
  margin-right: 5em;
}

.mbdsc_story_list hr {
  margin-bottom: 0;
}


/* Story Page */
.mbdsc_cover_image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 350px;
}

.mbdsc_story_complete_label, .mbdsc_story_word_count_label, .mbdsc_story_custom_field_label, .mbdsc_story_taxonomy_label, .mbdsc_story_review_count_label, .mbdsc_story_chapter_count_label {
    font-weight: bold;
}

.entry-content ol.mbdsc_toc_list li {
    line-height: 2.5em;
}


/* Chapter Page */
.mbdsc_toc_link {
    width: 20%;
    margin: 0 5%;
}

.mbdsc_previous {
    float: left;
    text-align: left;
}

.mbdsc_next {
    float: right;
    text-align: right;
}

.mbdsc_next, .mbdsc_previous {
    width: 35%;
}

.mbdsc_chapter_text {
    margin: 3em 0;
}

.mbdsc_chapter_reviews hr {
    margin: 1em 0;
}

#mbdsc_chapter_reviews_none {
    font-style: italic;
    text-align: center;
}



/* Review form */
.mbdsc_review_email_block, .mbdsc_review_name_block {
    margin-bottom: 1em;
}
.mbdsc_review_form_label {
margin-bottom: 0;
}

textarea.mbdsc_review_content {
    width: 100%;
    height: 10em;
}

#mbdsc_review_submit, #mbdsc_chatper_review_loading {
    float: right;
    margin: 1em;
}
.mbdsc_review_email_notice {
    font-style: italic;
    font-size: 0.8em;
}


/* Review */
.mbdsc_reviewer_block label {
    display: inline;
}

.mbdsc_review_content_block {
    margin-top: 1em;
}

/* Story archive, author archive,  and taxonomy archives of stories */
.post-type-archive-mbdsc_story img.mbdsc_cover_image, .archive article.mbdsc_story img.mbdsc_cover_image, .single-mbdsc_author .mbdsc_cover_image {
    float: left;
    margin-right: 5em;
}

.post-type-archive-mbdsc_story .type-mbdsc_story .mbdsc_author {
    padding-bottom: 1em;
}



/* Taxonomy Widget */
ul.mbdsc_taxonomy_menu_not_expandable, ul.mbdsc_taxonomy_menu_not_expandable ul {
    list-style: none;
}

ul.mbdsc_taxonomy_menu li {
    list-style-type: none;
}
ul.mbdsc_taxonomy_menu ul.children  {
    display: none;
}

ul.mbdsc_taxonomy_menu span.mbdsc_taxonomy_menu_leaf, ul.mbdsc_taxonomy_menu span.mbdsc_taxonomy_menu_toggle {
    padding-right: 5px;
}

ul.mbdsc_taxonomy_menu span.mbdsc_taxonomy_menu_toggle {
    cursor: pointer;
}

ul.mbdsc_taxonomy_menu ul.children {
    margin-left: 1.5em;
}



/* Author profile page */
.mbdsc_author_pic_profile_page {
    width: 100px;
    float: left;
}
