/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */



/* Story Page */
.mbdsc_cover_image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 350px;
}

.mbdsc_story_complete_label, .mbdsc_story_word_count_label, .mbdsc_story_custom_field_label, .mbdsc_story_taxonomy_label {
    font-weight: bold;
}

.entry-content ol.mbdsc_toc_list li {
    line-height: 2.5em;
}


/* Chapter Page */
.mbdsc_toc_link {
    width: 20%;
    margin: 0 5%;
}

.mbdsc_previous {
    float: left;
    text-align: left;
}

.mbdsc_next {
    float: right;
    text-align: right;
}

.mbdsc_next, .mbdsc_previous {
    width: 35%;
}

.mbdsc_chapter_text {
    margin: 3em 0;
}

.mbdsc_chapter_reviews hr {
    margin: 1em 0;
}

#mbdsc_chapter_reviews_none {
    font-style: italic;
    text-align: center;
}



/* Review form */
.mbdsc_review_email_block, .mbdsc_review_name_block {
    margin-bottom: 1em;
}
.mbdsc_review_form_label {
margin-bottom: 0;
}

textarea.mbdsc_review_content {
    width: 100%;
    height: 10em;
}

#mbdsc_review_submit, #mbdsc_chatper_review_loading {
    float: right;
    margin: 1em;
}
.mbdsc_review_email_notice {
    font-style: italic;
    font-size: 0.8em;
}


/* Review */
.mbdsc_reviewer_block label {
    display: inline;
}

.mbdsc_review_content_block {
    margin-top: 1em;
}

/* Story archive, author archive,  and taxonomy archives of stories */
.post-type-archive-mbdsc_story img.mbdsc_cover_image, .archive article.mbdsc_story img.mbdsc_cover_image, .single-mbdsc_author .mbdsc_cover_image {
    float: left;
    margin-right: 5em;
}

.post-type-archive-mbdsc_story .type-mbdsc_story .mbdsc_author {
    padding-bottom: 1em;
}



/* Taxonomy Widget */
ul.mbdsc_taxonomy_menu_not_expandable, ul.mbdsc_taxonomy_menu_not_expandable ul {
    list-style: none;
}

ul.mbdsc_taxonomy_menu li {
    list-style-type: none;
}
ul.mbdsc_taxonomy_menu ul.children  {
    display: none;
}

ul.mbdsc_taxonomy_menu span.mbdsc_taxonomy_menu_leaf, ul.mbdsc_taxonomy_menu span.mbdsc_taxonomy_menu_toggle {
    padding-right: 5px;
}

ul.mbdsc_taxonomy_menu span.mbdsc_taxonomy_menu_toggle {
    cursor: pointer;
}

ul.mbdsc_taxonomy_menu ul.children {
    margin-left: 1.5em;
}



/* Author profile page */
.mbdsc_author_pic_profile_page {
    width: 100px;
    float: left;
}
.mbdsc_author_page_story {
    padding-bottom: 3em;
    display: inline-block;
    width: 100%;

}

/* Front end Account page */
.mbdsc_account_story_table img.mbdsc_story_complete {
    width: 1em;
    display: block;
    margin: auto;
    border: none;
    box-shadow: none;
}
.mbdsc_account_story_table td.mbdsc_story_title {
    text-align: left;
}
.mbdsc_account_story_table td {
    text-align: center;
}
.mbdsc_account_story_table img.mbdsc_story_actions, .mbdsc_account_chapter_table img.mbdsc_chapter_actions {
    width: 1.5em;
    margin-right: 1em;
    border: none;
    box-shadow: none;
}

.mbdsc_account_story_table img.mbdsc_story_delete, .mbdsc_account_chapter_table img.mbdsc_chapter_delete {
    cursor: pointer;
}

.mbdsc_account_chapter_table_div {
    display:none;

}

#mbdsc_account_chapter_table_div, #mbdsc_account_story_table_body {
  margin: 0 auto;
  position: relative;
}

.loading:after {
   content: '...loading';
   position: absolute;
   top:0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0,0,0,.3);
   display: flex;
   justify-content: center;
   align-items: center;
}

.mbdsc_taxonomy_new_item, .mbdsc_taxonomy_new_item_parent, .mbdsc_taxonomy_add_new_cancel_button  {
    display:none;
}

button.mbdsc_taxonomy_add_new_button {
    margin-bottom: 2em;
}

.ui-state-error p {
    margin: 0;
    padding: 1em;
}

.ui-state-error {
    margin-bottom: 10px;
}


ul.cmb2-checkbox-list.cmb2-list, ul.cmb2-radio-list.cmb2-list {
    list-style: none;
}

.cmb-td {
    padding-top: 0 !important;
}

.cmb-th {
    padding-bottom: 0 !important;
    float: none !important;
    width: auto !important;
}

p.cmb2-metabox-description {
    padding-bottom: .5em;
}

.cmb-td span.button-secondary {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #555;
    border-color: #cccccc;
    background: #f7f7f7;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
    vertical-align: top;
}

.cmb-td span.button-secondary:hover,
.cmb-td span.button-secondary:focus {
    background: #fafafa;
    border-color: #999;
    color: #222;
}

.cmb-td span.button-secondary:focus {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.cmb-td span.button-secondary:active {
    background: #eee;
    border-color: #999;
    color: #333;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
    box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}

.cmb-td .cmb2-indented-hierarchy ul {
    list-style: none;
}
